<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <archives defaultProvider="sql" enabled="true">
      <providers>
        <add name="sql" type="Sitecore.Support.Data.Archiving.SqlArchiveProvider" database="*" patch:instead="*[@type='Sitecore.Data.Archiving.SqlArchiveProvider, Sitecore.Kernel']" />
      </providers>
    </archives>
  </sitecore>
</configuration>